.job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 90vw;
  margin: 20px 30px;
  border-radius: 10px;
  width: 100%;
}

.title {
  height: 30px;
  padding: 5px;
  background: #26ae61;
  width: 100%;
  color: white;
}

.title h2 {
  font-size: 20px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f4f4f4;
  line-height: 1.7;
  padding: 10px;
  width: 100%;
}

.details p {
  font-size: 14px;
}

.details span {
  font-weight: bold;
}

.company {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.company img {
  width: 30px;
  object-fit: contain;
  margin-right: 5px;
}

.company p {
  font-weight: bold;
}
