.sidebar {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.8;
}

.field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.field label {
  font-size: 14px;
  margin-right: 5px;
}

.field input {
  border: none;
  border-bottom: 1px solid #26ae61;
  outline: none;
  height: 20px;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.desc label {
  font-size: 14px;
}

.submit {
  padding: 10px 20px;
  background: #26ae61;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
  cursor: pointer;
  color: white;
}
